<!--<h1>Example App:home</h1> -->
<body method="post" style="background: lightblue" >
	<div id="Home"  ALIGN=center >
		<form>
			<h1>Bienvenido</h1>
			<a href="/login"> <button type = "button"> Sign in</button> </a>
	    <a href="/register"> <button type = "button"> Sign up</button> </a>
		</form>
	</div>
</body>
