<body  ALIGN=center style="background: orange" >
	<h1>Register</h1>
	{{#if status}}
	<h4> {{status}} </h4>
	{{/if}}
	<form  action="/procesar" method="post">
		<p>
			<label > Username </label>
			<input name="name" required="required" type="text" />
		</p>
		<p>
			<label > Password </label>
			<input name="password" required="required" type="password" />
		</p>
		<p>
			<label > Repeat Password </label>
			<input name="password2" required="required" type="password" />
		</p>
		<button type = "submit"> Sing in</button>
	</form>
</br>
</br>
<a href = "/"> <button>Back</button> </a>
</body>
